= render 'shared/simple_header', page_title: 'Usuarios', page_subtitle: 'Lista de usuarios del sistema'

%section.section
  .container


    %h3 User
    %p
    %p
      Email:
      = @user.email if @user.email
