%footer#footer.top-space
  .footer1
    .container
      .row
        .col-md-3.widget
          %h3.widget-title Contacto
          .widget-body
            %p
              +593 09 123456789
              %br
              %a{:mailto => "mailto:#"} email.contacto@ecuadorsolidario.org
              %br
              %br
              Av. 9 de Octubre y la Otra, Guayaquil, Ecuador

        .col-md-3.widget
          %h3.widget-title Contacto
          .widget-body
            %p.follow-me-icons
              %a
                %i.fa.fa-twitter.fa-2
                %i.fa.fa-dribbble.fa-2
                %i.fa.fa-github.fa-2
                %i.fa.fa-facebook.fa-2

        .col-md-6.widget
          %h3.widget-title texto de footer
          .widget-body
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, dolores, quibusdam architecto voluptatem amet fugiat nesciunt placeat provident cumque accusamus itaque voluptate modi quidem dolore optio velit hic iusto vero praesentium repellat commodi ad id expedita cupiditate repellendus possimus unde?
            %p Eius consequatur nihil quibusdam! Laborum, rerum, quis, inventore ipsa autem repellat provident assumenda labore soluta minima alias temporibus facere distinctio quas adipisci nam sunt explicabo officia tenetur at ea quos doloribus dolorum voluptate reprehenderit architecto sint libero illo et hic.

  .footer2
    .container
      .row

        .col-md-6.widget
          .widget-body
            %p.simplenav
              %a{:href => "#"} Home

        .col-md-6.widget
          .widget-body
            %p.text-right &copy; 2016 Javier Romero. Ecuador Solidario
