.navar.navbar-inverse.navbar-fixed-top.headroom
  .container
    .navbar-header
      %button.navbar-toggle{:"data-toggle" => "collapse", :"data-target" =>".navbar-collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => url_for(root_path)}
        %img{:src => "/images/logo.png", :alt => "Ecuador Solidario"}

    .navbar-collapse.collapse
      %ul.nav.navbar-nav.pull-right
        %li{class: active_class(root_path)}
          %a{:href => url_for(root_path)} Inicio
        %li{class: active_class(projects_url)}
          %a{:href => url_for(projects_url)} Proyectos

        - if user_signed_in?
          %li{class: active_class(new_project_url)}
            %a.btn{:href => url_for(new_project_url)} Nuevo Proyecto
          %li
            = link_to "Salir", destroy_user_session_path, method: :delete, class: "btn"
        - else
          %li{class: active_class(new_user_session_path)}
            %a.btn.btn-rounded{:href => url_for(new_user_session_path)} Ingreso / Registro


