%header#head
  .container
    .row
      %h1.lead Ecuador Solidario
      %p.tagline Plataforma de financiamiento colectivo para Ecuador
      %p
        %a.btn.btn-default.btn-lg{:role => "button"} MÁS INFORMACIÓN
        %a.btn.btn-action.btn-lg{:role => "button"} INGRESA TU CASO


