%header.head.head-default
  .container
    %h1.lead.text-center= t('site.title_caps')
    %p.tagline.text-center= t('site.tagline')
    %p.text-center
      %a.btn.btn-default.btn-lg{:role => "button"}= t('header.button_more_info')
      %a.btn.btn-action.btn-lg{:role => "button"}= t('header.button_new_project')


