.jumbotron.top-space
  .container
    %h3.text-center.thin Reasons to use this template
    .row
      .col-md-3.col-sm-6.highlight
        .h-caption
          %h4
            %i.fa.fa-cogs.fa-5
            Bootstrap-powered
      .col-md-3.col-sm-6.highlight
        .h-caption
          %h4
            %i.fa.fa-cogs.fa-5
            Bootstrap-powered
      .col-md-3.col-sm-6.highlight
        .h-caption
          %h4
            %i.fa.fa-cogs.fa-5
            Bootstrap-powered
      .col-md-3.col-sm-6.highlight
        .h-caption
          %h4
            %i.fa.fa-cogs.fa-5
            Bootstrap-powered

