%section.section.section-intro
  .container
    %h2.text-center
      The best place to tell people why they are here
    %p.text-center.text-muted
      The difference between involvement and commitment is like an eggs-and-ham breakfast:
      %br
      the chicken was involved; the pig was committed.
