.container.text-center
  %br
  %br
  %h2.thin The best place to tell people why they are here
  %p.text-muted
    The difference between involvement and commitment is like an eggs-and-ham breakfast:
    %br
    the chicken was involved; the pig was committed.
