= render "header"
= render "intro"
= render "highlights"
.container
  %h2.text-center.top-space Locale = @I18n.locale
  %br
  .row
    .col-sm-6
      %h3 Titulo
      %p Texto con
    .col-sm-6
      %h3 Titulo
      %p Texto con
  .row
    .col-sm-6
      %h3 Titulo
      %p Texto con
    .col-sm-6
      %h3 Titulo
      %p Texto con

  .jumbotron.top-space
    %h4
      Dicta, nostrum nemo soluta sapiente sit dolor quae voluptas quidem doloribus recusandae facere magni ullam suscipit sunt atque rerum eaque iusto facilis esse nam veniam incidunt officia perspiciatis at voluptatibus. Libero, aliquid illum possimus numquam fuga.
    %p.text-right
      %a.btn.btn-primary.btn-large{:href => "#"} Learn More
