%header#head.inner
  .container
    .row
      %h1.lead Explore los casos de nuestra comunidad
      .row
        - @categories.each do |cat|
          .col-md-2.col-lg-2.col-sm-6.col-xs-6
            %a{:href => "#",:class => "w-inline-bock btn-category"}
              %div
                =cat.title

.container
  %article.col-xs-12.maincontent
    %header.page-header
      %h1.page-title Projects#Index
      %p Find me in app/views/projects/Index.html.haml
