.container

  %article.col-xs-12.maincontent
    %header.page-header
      %h1.page-title Nuevo Proyecto
      %p Utilice el formulario para crear un proyecto nuevo

  .row
    %aside.col-md-4.sidebar.sidebar-left
      %p Esta es el aside
    %article.col-md-8.maincontent
      %p Este es el contenido
