.page-explore .head-inner{
    background: #999 url("/images/bg_start.jpg") no-repeat scroll 0 0 / cover;
  }

.page-start .head-inner{
  background: #999 url("") no-repeat scroll 0 0 / cover;
}

.btn-category{
   align-items: center;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 4px;
  color: #fff;
  display: flex;
  font-size:13px;
  font-weight: 400;
  height:  54px;
  justify-content:center;
  line-height: 20px;
  margin-bottom: 20px;
  margin-left: 5px;
  margin-right: 5px;
  overflow: hidden;
  padding: 16px 5px;
  text-align: center;
  text-decoration: none;
  transition: all 500ms ease 0s;
  width:100%
}

.btn-category:hover{
  background-color: #fff;
  color: #3F4752;
  text-decoration: none;
}
